@model IEnumerable<WebBanHangOnline.Models.EF.Promotion>
@{
    ViewBag.Title = "Khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Promotion" class="nav-link">Khuyến mãi</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý Khuyến mãi</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Khuyến mãi</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Khuyến mãi</h3>

            <div class="card-tools">
                <a href="/admin/Promotion/add" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead style="text-align:center;">
                    <tr>
                        <th>STT</th>
                        <th>Tên Khuyến mãi</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {

                            <tr id="trow_@item.Id">
                                <td>@i</td>
                                <td>@item.Title</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                @{ var status = DateTime.Now;
                                    if (status <= item.EndDate && status>= item.StartDate)
                                    {
                                        <td style="color:dodgerblue">Đang diễn ra</td>
                                    }
                                    else
                                    {
                                        <td style="color:darkred">Đã kết thúc</td>
                                    }
                                }
                                <td>
                                    <a class="promotiondetail" data-id="@item.Id"><i class="far fa-eye nav-icon"></i></a>
                                </td>
                                <td>
                                    <a href="/admin/Promotion/edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào!!!</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: 'Quản lý khuyến mãi sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on("click", ".promotiondetail", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/admin/promotiondetail/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });

            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/Promotion/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
}