@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common

@if (Model != null && Model.Any())
{
    <h3>Đơn hàng <span style="float:right;position:relative"></span></h3>
    var tongtien = decimal.Zero;
    <div style="border:1px solid #c7c7c7;">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td><img src="@item.ProductImg" width="60" /></td>
                    <td>@item.ProductName-@item.Size- @item.Quantity</td>
                    <td>@Common.FormatNumber(item.Price, 0) VNĐ</td>
                </tr>
            }
            <tr>
                <td colspan="2">Tạm tính</td>
                <td>@Common.FormatNumber(tongtien, 0) VNĐ</td>
            </tr>
            <tr>
                <td colspan="2">Phí vận chuyển</td>
                <td>@Common.FormatNumber(ViewBag.MoneyShip) VNĐ</td>
            </tr>
            <tr>
                <td colspan="2">Tổng cộng</td>
                <td>@Common.FormatNumber(tongtien + @ViewBag.MoneyShip, 0) VNĐ</td>
            </tr>
        </table>
    </div>
}

